@tailwind base;
@tailwind components;
@tailwind utilities;

/* GEMERAL */

@font-face {
  font-family: Nirmala;
  src: url("./assets/Fonts/Nirmala.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Nirmala;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

-webkit-scrollbar-button:active {
  display: block;
}

/* REACT TRANSITION */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/* BACKGROUND DOBLE */

.background__double {
  background: linear-gradient(
    90deg,
    rgba(13, 38, 51, 1) 50%,
    rgba(246, 182, 95, 1) 50%
  );
}

/* NAVBAR */

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 29px;
  height: 5px;
  left: 4px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 29px;
  height: 5px;
  bottom: 0px;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.animation__logo {
  animation: jumpLogo 1.5s infinite linear;
}

@keyframes jumpLogo {
  20% {
    transform: translateY(-2px) scale(1.01);
  }

  40% {
    transform: translateY(-2px) scale(1.01);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }
}

/* HEADER */

.typed-cursor {
  opacity: 1;
  color: #f5b45f;
  border-radius: 2px;
  animation: typedjsBlink 1s infinite;
  -webkit-animation: typedjsBlink 1s infinite;
  animation: typedjsBlink 1s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

/* FLOATING BAR */

.floating__bar::after {
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.slick-dots li button:before {
  font-size: 10px;
  line-height: 20px;
}

.slick-dots li.slick-active button:before {
  font-size: 15px;
}

.slick-slider .slider .slick-initialized {
  max-width: 100vw;
}

/* PROJECTS HOME */

.select_proyect {
  content: "";
  width: 20px;
  height: 20px;
  bottom: -1.3rem;
  position: absolute;
  background-color: #dfdfdf;
  clip-path: polygon(50% 40%, 0 100%, 100% 100%);
}

.div__backoground {
  width: 100%;
  background-color: #0d2633;
}

/* CALENDARY */

.colStart-2{
  grid-column-start: 1;
}
.colStart-3{
  grid-column-start: 2;
}
.colStart-4{
  grid-column-start: 3;
}
.colStart-5{
  grid-column-start: 4;
}
.colStart-6{
  grid-column-start: 5;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
  }

  .background__double--sm {
    background: linear-gradient(
      90deg,
      rgba(246, 182, 95, 1) 50%,
      rgba(13, 38, 51, 1) 50%
    );
  }

  /* CAROUSEL */

  .slick-dots li button:before {
    font-size: 10px !important;
    line-height: 10px !important;
  }

  /* START HOME */

  #StartHome {
    background: linear-gradient(
      90deg,
      rgba(13, 38, 51, 1) 95%,
      rgba(246, 182, 95, 1) 5%
    );
  }

  /* Services Page */

  .container__services_page {
    grid-template-columns: calc(60% - 10px) calc(40% - 10px);
  }

  .box__background {
    grid-template-columns: calc(40%) calc(40%);
  }
}
@media (min-width: 1024px) {
  /* START HOME */

  #StartHome {
    background: linear-gradient(
      90deg,
      rgba(13, 38, 51, 1) 60%,
      rgba(246, 182, 95, 1) 40%
    );
  }
}
